<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="advantages-container">
      <h2 class="visually-hidden">Our Advantages</h2>
      <div class="advantages-list-container">
        <ol class="advantages-list">
          <li class="advantages-item">
            <h3 class="advantages-number">01</h3>
            <p class="advantages-text">
              Swimming and water sports: try your hand at water skiing
            </p>
          </li>
          <li class="advantages-item">
            <h3 class="advantages-number">02</h3>
            <p class="advantages-text">Fishing: try to catch your own dinner</p>
          </li>
          <li class="advantages-item">
            <h3 class="advantages-number">03</h3>
            <p class="advantages-text">
              Sightseeing tours: take a shore or island tour, enjoy the views
              and sunsets from the water
            </p>
          </li>
          <li class="advantages-item">
            <h3 class="advantages-number">04</h3>
            <p class="advantages-text">
              Rest and relaxation: read a book or listen to music while enjoying
              the outdoor atmosphere.
            </p>
          </li>
        </ol>
      </div>

      <div class="advantages-image-container">
        <picture class="advantages-image">
          <source
            srcset="../img/advantages-laptop.jpg"
            media="(min-width: 1280px)"
            class="advantages-image"
          />
          <source
            srcset="../img/advantages-tablet.jpg"
            media="(min-width: 768px)"
            class="advantages-image"
          />
          <img
            src="../img/advantages.jpg"
            alt="yacht interior"
            class="advantages-image"
          />
        </picture>
      </div>
    </div>
  </body>
</html>
