<section class="advantages-section">
  <div class="advantages-container">
    <h2 class="visually-hidden">Our Advantages</h2>
    <div class="advantages-list-container">
      <ol class="advantages-list">
        <li class="advantages-item">
          <h3 class="advantages-number">01</h3>
          <p class="advantages-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-number">02</h3>
          <p class="advantages-text">Fishing: try to catch your own dinner</p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-number">03</h3>
          <p class="advantages-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="advantages-item">
          <h3 class="advantages-number">04</h3>
          <p class="advantages-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>

    <div class="advantages-image-container">
      <picture class="advantages-image">
        <source
          srcset="/img/advant.jpg 1x, /img/advant-2x.jpg 2x"
          media="(min-width: 1280px)"
          class="advantages-image"
        />
        <source
          srcset="/img/advant-tab.jpg 1x, /img/advant-tab-2x.jpg 2x"
          media="(min-width: 768px)"
          class="advantages-image"
        />
        <img
          src="/img/advant-mob.jpg"
          alt="yacht interior"
          class="advantages-image"
        />
      </picture>
    </div>
  </div>
</section>
