<footer class="page-footer">
    <div class="container-footer">
        <div class="footer-top">
            <nav class="footer-nav">
                <a class="footer-logo" href="./index.html">yachtje</a>
                <ul class="footer-nav-list">
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#about-us">About</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#our-yachts">Yachts</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#reviews">Reviews</a></li>
                </ul>
            </nav>
            <div class="footer-container-icon">
                <ul class="footer-icon-list">
                    <li class="footer-icon-item">
                        <a href="https://www.instagram.com/goitclub/" class="footer-icon-link">
                            <svg class="footer-icon" width="19" height="19">
                                <use href="/img/footer-icons.svg#icon-footer-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-icon-item">
                        <a href="https://www.youtube.com/c/GoIT" class="footer-icon-link">
                            <svg class="footer-icon" width="19" height="19">
                                <use href="/img/footer-icons.svg#icon-footer-youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-icon-item">
                        <a href="https://www.facebook.com/goITclub/" class="footer-icon-link">
                            <svg class="footer-icon" width="19" height="19">
                                <use href="/img/footer-icons.svg#icon-footer-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-information">
            <p class="footer-information-title">No matter which yacht you choose, our experienced crew will ensure
                that
                your journey is smooth and enjoyable.</p>
        </div>
        <p class="footer-check-text">
            <a class="footer-checkbox-link" href="">2023. Yacht Adventures</a>
            <a class="footer-checkbox-link" href="">Privacy Policy</a>
        </p>
    </div>
</footer>