<header class="header">
  <div class="header-container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo">yachtjet</a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about-us" class="header-nav-link">About</a>
        </li>
        <li class="header-nav-item">
          <a href="#our-yachts" class="header-nav-link">Yachts</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
      </ul>
      <button type="button" class="header-btn burger-btn">
        <svg class="burger-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          href="https://www.instagram.com/goitclub/ "
          class="header-social-link"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a href="https://www.youtube.com/c/GoIT " class="header-social-link">
          <svg class="social-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a href="https://www.facebook.com/goITclub/" class="header-social-link">
          <svg class="social-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <!-- MOBILE MENU -->
</header>
<div class="mobile-menu is" id="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="menu-header-container">
      <a href="#" class="header-logo">yachtjet</a>

      <button class="menu-close-btn">
        <svg width="16" height="16" class="menu-close-icon">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav">
      <ul class="mobmenu-list">
        <li>
          <a class="mobmenu-link mobmenu-hover-link" href="#about-us">about</a>
        </li>
        <li><a class="mobmenu-link" href="#our-yachts">yachts</a></li>
        <li><a class="mobmenu-link" href="#reviews">reviews</a></li>
      </ul>
    </nav>

    <div>
      <ul class="mobmenu-soc-list">
        <li class="mobmenu-soc-item">
          <a
            class="mobmenu-soc-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="soc-icon mobmenu-soc-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobmenu-soc-item">
          <a
            class="mobmenu-soc-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="soc-icon mobmenu-soc-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="mobmenu-soc-item">
          <a
            class="mobmenu-soc-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="soc-icon mobmenu-soc-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
