<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="" class="logo">yachtjet</a>
      <ul class="nav-btn">
        <li><a href="" class="nav-link">About</a></li>
        <li><a href="" class="nav-link">Yachts</a></li>
        <li><a href="" class="nav-link">Reviews</a></li>
      </ul>
    </nav>

    <ul class="socials">
      <li class="socials-item">
        <a href="https://www.instagram.com/goitclub/" class="socials-link">
          <svg class="socials-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a href="https://www.youtube.com/c/GoIT" class="socials-link">
          <svg class="socials-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a href="https://www.facebook.com/goITclub/" class="socials-link">
          <svg class="socials-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="21" height="7">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu is">
    <div class="container mobile-menu-container">
      <div class="mob-hed">
        <a href="" class="mob-logo">yachtjet</a>
        <button class="mob-menu-close">
          <svg class="close" width="16" height="16">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="mob-nav">
      <ul class="nav-btn mob-nav-btn">
        <li><a href="" class="nav-link">About</a></li>
        <li><a href="" class="nav-link">Yachts</a></li>
        <li><a href="" class="nav-link">Reviews</a></li>
      </ul>
    </div>
    <ul class="socials mob-soc">
      <li class="socials-item">
        <a href="https://www.instagram.com/goitclub/" class="socials-link">
          <svg class="mob-socials-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a href="https://www.youtube.com/c/GoIT" class="socials-link">
          <svg class="mob-socials-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a href="https://www.facebook.com/goITclub/" class="socials-link">
          <svg class="mob-socials-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
