<section class="our-yachts" id="our-yachts">
    <div class="our-yachts-container">
        <h2 class="section-title">
            Choose your dream yacht and sail away into the sunset
        </h2>
        <ul class="our-yachts-list">
            <li class="our-yachts-item"> 
                <picture>
                    <source srcset="/img/our-yachts-one.jpg 1x, /img/our-yachts-one.jpg 2x"
                        media="(min-width: 1158px)" />
                    <source srcset="/img/our-yachts-one.jpg 1x, /img/our-yachts-one.jpg 2x"
                        media="(min-width: 756px)" />
                    <source srcset="/img/our-yachts-one.jpg 1x, /img/our-yachts-one.jpg 2x"
                        media="(max-width: 756px)" />
                    <img src="/img/our-yachts-one.jpg" width="302" height="240" alt="photo yacht arrow"
                        class="img-our-boat" />
                </picture>
                <div class="our-yacht-card">
                    <div class="our-yacht-card-header">
                        <h3 class="our-yacht-title">Arrow</h3>
                        <p class="category">LUXURY YAHTS</p>
                    </div>
                    <div class="our-yacht-details-wrapper">
                        <ul class="our-yacht-details">
                            <li class="our-yacht-detail-item">
                                <strong>LENGTH</strong><span class="details-value">48m(155ft)</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>BUILDER</strong><span class="details-value">Admiral</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>BUILT</strong><span class="details-value">2021</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>GUESTS</strong><span class="details-value">11 in 5 cabins</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>PRICE</strong><span class="details-value">€33,500,000</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="our-yachts-item">
                <picture>
                    <source srcset="/img/our-yachts-two.jpg 1x, /img/our-yachts-two.jpg 2x"
                        media="(min-width: 1158px)" />
                    <source srcset="/img/our-yachts-two.jpg 1x, /img/our-yachts-two.jpg 2x"
                        media="(min-width: 756px)" />
                    <source srcset="/img/our-yachts-two.jpg 1x, /img/our-yachts-two.jpg 2x"
                        media="(max-width: 756px)" />
                    <img src="/img/our-yachts-two.jpg" width="302" height="240" alt="photo yacht arrow"
                        class="img-our-boat" />
                </picture>
                <div class="our-yacht-card">
                    <div class="our-yacht-card-header">
                        <h3 class="our-yacht-title">BENETTI OASIS 40M BO122</h3>
                        <p class="category">LUXURY YACHTS</p>
                    </div>
                    <div class="our-yacht-details-wrapper">
                        <ul class="our-yacht-details">
                            <li class="our-yacht-detail-item">
                                <strong>LENGTH</strong><span class="details-value">41m (133ft)</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>SHIPYARD</strong><span class="details-value">Benetti</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>BUILT</strong><span class="details-value">2025</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>GUESTS</strong><span class="details-value">10 in 5 cabins</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>PRICE</strong><span class="details-value">€23,210,000</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="our-yachts-item">
                <picture>
                    <source srcset="/img/our-yachts-three.jpg 1x, /img/our-yachts-three.jpg 2x"
                        media="(min-width: 1158px)" />
                    <source srcset="/img/our-yachts-three.jpg 1x, /img/our-yachts-three.jpg 2x"
                        media="(min-width: 756px)" />
                    <source srcset="/img/our-yachts-three.jpg 1x, /img/our-yachts-three.jpg 2x"
                        media="(max-width: 756px)" />
                    <img src="/img/our-yachts-three.jpg" width="302" height="240" alt="photo yacht arrow"
                        class="img-our-boat" />
                </picture>
                <div class="our-yacht-card">
                    <div class="our-yacht-card-header">
                        <h3 class="our-yacht-title">BELLE ANNA</h3>
                        <p class="category">LUXURY YACHTS</p>
                    </div>
                    <div class="our-yacht-details-wrapper">
                        <ul class="our-yacht-details">
                            <li class="our-yacht-detail-item">
                                <strong>LENGTH</strong><span class="details-value">50m(155ft)</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>SHIPYARD</strong><span class="details-value">ISA</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>BUILT</strong><span class="details-value">2012</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>GUESTS</strong><span class="details-value">12 in 6 cabins</span>
                            </li>
                            <li class="our-yacht-detail-item">
                                <strong>PRICE</strong><span class="details-value">€21,000,000</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <a href="#rent-section-id" class="btn-yacht-rental-link">Rent a yacht</a>
    </div>
        </section>

