.about-us-section {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -60px;
}

.about-us-container {
  width: 100%;
  height: 675px;
  border-radius: 24px;
  background-color: #fbfbfb;
  margin-bottom: 180px;
}

.about-us-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

/*.about-us-text-group {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}*/

.about-us-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.about-us-text-1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.about-us-image {
  width: 100%;
  border-radius: 24px;
  margin-top: 40px;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .about-us-section {
    min-width: 768px;
    padding: 0 32px;
    margin-top: -70px;
  }

  .about-us-container {
    width: 100%;
    height: 675px;
    border-radius: 24px;
    background-color: #fbfbfb;
    margin-bottom: 426px;
  }

  .about-us-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    max-width: 536px;
    margin-bottom: 50px;
  }

  .about-us-text-group {
    max-width: 385px;
  }

  .about-text {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
  }

  .about-us-text-1 {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
  }

  .about-us-image {
    height: 470px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-section {
    min-width: 1280px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: -35px;
  }

  .about-us-container {
    width: 100%;
    height: 675px;
    margin-bottom: 305px;
  }

  .about-us-content {
    display: flex;
    padding: 50px 50px;
  }

  .about-us-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    text-align: right;
    max-width: 537px;
    text-align: left;
    padding-top: 0;
  }

  .about-us-text-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 385px;
    margin-left: 189px;
  }

  .about-us-text {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
  }

  .about-us-text-1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
  }
}
