.rent-container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.section-rent {
  margin-bottom: 80px;
}

.div-form-rent {
  margin: 0 auto;
  max-width: 335px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}
.caption-two {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.form-rent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 18px;
}
.form-label {
  width: 100%;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(251, 251, 251, 0.4);
  height: 42px;
  background-color: transparent;
  transition: border 250ms linear;
}

.form-input-area {
  height: 116px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(251, 251, 251, 0.4);
  width: 100%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px;
  background-color: transparent;
  transition: border 250ms linear;
  resize: none;
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(251, 251, 251, 0.4);
}

.form-input:active,
.form-input:hover,
.form-input:focus,
.form-input-area:active,
.form-input-area:hover,
.form-input-area:focus {
  border: none;
  border: 1px solid rgba(251, 251, 251, 0.5);
  color: #fbfbfb;
}

.btn {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border: none;
  border-radius: 15px;
  padding: 14px 44px;
  min-width: 122px;
  height: 46px;
  background: #1b414b;

  transition: color 250ms linear, background-color 250ms linear;
}

.btn:focus,
.btn:hover {
  background-color: #fbfbfb;
  color: #1b414b;
}

.btn-rent {
  width: 122px;
}

.img-rent {
  max-width: 335px;
  margin: 0 auto;
  border-radius: 24px;
  width: 335px;
  height: 412px;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .caption-two {
    font-size: 48px;
  }

  .section-rent {
    margin-bottom: 150px;
  }

  .div-form-rent {
    /* margin: 0 auto; */
    gap: 50px;
    margin-bottom: 100px;
    max-width: 473px;
  }

  .form-input {
    border-radius: 12px;
    padding: 18px;
    height: 54px;
  }

  .btn-l {
    border-radius: 15px;
    padding: 18px 75px;
    width: 194px;
    height: 56px;

    font-size: 18px;
    line-height: 1.1;
  }

  .img-rent {
    margin: 0 auto;
    max-width: 704px;
    height: 534px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 50px;
    margin: 0 auto;
  }

  .section-rent {
    justify-content: center;
    margin: 0 auto;
  }

  .div-section-rent {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }

  .img-rent {
    max-width: 658px;
    height: 536px;
  }

  .div-form-rent {
    margin-left: 0;
    margin-right: 50px;
    width: 472px;
    margin-bottom: 0;
  }
}
